// @import 'mixins';
// @import 'variables';
@import url(sections/header.scss);
@import url(sections/swiper.scss);
@import url(sections/buttons-banner.scss);
@import url(sections/products.scss);
@import url(sections/advantages.scss);
@import url(sections/blog.scss);
@import url(sections/brands.scss);
@import url(sections/footer.scss);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    line-height: 24px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    visibility: visible;
    font-family: Comfortaa,sans-serif;
    color: #222;
    letter-spacing: .02em;
}

a, button {
    color: inherit;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    font-family: Comfortaa,sans-serif;
}



img {
    height: auto;
}